.wrapper {
  width: 100%;
}

.container {
  padding: 0px 60px 60px 60px;
}

.breadcrumb {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    margin: 0px 10px;
    color: #000;
  }
}
.rate {
  margin-bottom: 8px;
  span {
    height: 100%;
    align-items: center;
    background: #fdc432;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #2d4271;
    display: flex;
    font-size: 17px;
    font-weight: 700;
    justify-content: center;
    line-height: 20px;
    position: relative;
    width: 65px;
  }
  span::before {
    border-right: 5px solid transparent;
    border-top: 5px solid #fdc432;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    z-index: 1;
  }
}
.review {
  flex-direction: column;
  align-items: flex-end;
  p {
    border-radius: 8px;
  }
}
.fav {
  margin-left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 112px;
  background-color: #ffffff;
  border: 0.5px solid #d5d5d5;
  border-radius: 5px;
  color: #2d4271;
  font-size: 15px;
}
.header {
  width: 100%;
  display: grid;
  grid-template-columns: 60% auto;
  gap: 10px;
  .left {
    display: flex;
    flex-direction: column;
    h1 {
      color: #2d4271;
      font-size: 26px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 12px;
      max-width: 100%;
      text-align: justify;
    }
    > div {
      display: flex;
      gap: 10px;
      width: 100%;
      > span {
        color: #4d4aef;
        font-size: 13px;
        margin-bottom: 5px;
      }
    }
  }
  .right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
    span {
      color: #e01600;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      margin: 0;
    }
    div {
      width: 40%;
      cursor: pointer;
      a {
        align-items: center;
        background: linear-gradient(64.4deg, #e01600 21.33%, #fe2214 67.61%);
        border-radius: 5px;
        color: #fff;
        display: flex;
        font-weight: 500;
        height: 50px;
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
        gap: 10px;
      }
    }
  }
}
.picture {
  margin-top: 28px;
  width: 100%;
  display: flex;
  gap: 12px;
  .main {
    width: 90%;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 12px;
    img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: 55vh;
    }
  }
  .extra {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img {
      height: 94px;
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
    }
  }
}
.description {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 12px;
  gap: 50px;
  .left {
    display: flex;
    flex-direction: column;
    width: 40%;
    background: #f9f9f9;
    border-radius: 10px;
    justify-content: space-between;
    padding: 30px 30px;
    p {
      line-height: 24px;
      gap: 12px;
    }
    b {
      color: #2d4271;
    }
  }
  .right {
    flex: 1;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
    div {
      display: flex;
      flex-direction: column;
      label {
        font-weight: 700;
        margin-bottom: 5px;
      }
      img {
        margin-bottom: 5px;
        width: 25px;
      }
      p {
        font-size: 13px;
        margin: 0;
      }
    }
  }
}
.activities {
  margin-top: 30px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-weight: 700;
    margin-bottom: 30px;
    color: #2d4271;
    font-size: 22px;
    line-height: 28px;
  }
  .process {
    width: 100%;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    display: flex;
    .left {
      width: 30%;
      background: #f9f9f9;
      border-radius: 10px 0 0 10px;
      padding: 38px 16px;
      .date {
        font-size: 11px;
        font-weight: 600;
      }
      .location {
        color: #333;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .right {
      flex: 1;
      padding: 38px 28px;

      .excerpt {
        line-height: 24px;
        margin-bottom: 15px;
        max-width: 100%;
        padding-left: 33px;
        position: relative;
        .line {
          border-left: 0.5px dashed #4d4aef;
          height: calc(100% - 16px);
          left: 0;
          position: absolute;
          top: 6px;
          z-index: 1;
        }
        .line::after {
          background: #4d4aef;
          border-radius: 50%;
          content: "";
          top: 100%;
          height: 5px;
          left: -3px;
          position: absolute;
          width: 5px;
          z-index: 1;
        }
        .line::before {
          background: #4d4aef;
          border-radius: 50%;
          content: "";
          height: 5px;
          left: -3px;
          top: 0;
          position: absolute;
          width: 5px;
          z-index: 1;
        }
      }
      p {
        color: #2d4271;
        font-size: 15px;
        text-align: justify;
        line-height: 24px;
        margin-bottom: 16px;
      }
      h3 {
        color: #2d4271;
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
      }
    }
  }
}
.dot {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e01600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  top: -5px;
  left: calc(50% - 8px);
  color: #fff;
}
.detail {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
  margin-bottom: 48px;
  h2 {
    color: #2d4271;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 35px;
  }
  .tour {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 16px;
  }
  th {
    width: 290px;
    padding: 12px 0px;
    font-weight: 700;
    text-align: left;
    color: #2d4271;
    line-height: 24px;
  }
  td {
    font-size: 15px;
    line-height: 24px;
    color: #2d4271;
  }
  .price {
    color: #e01600;
    font-size: 15px;
    line-height: 24px;
  }
  .total {
    font-weight: 700;
  }
  h3 {
    color: #2d4271;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 14px;
  }
  p {
    text-transform: uppercase;
    color: #2d4271;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 7px;
  }
  span {
    color: #2d4271;
    font-weight: 400;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}
.note {
  display: flex;
  align-items: center;
  flex-direction: column;
  >h2 {
    font-weight: 700;
    color: #2d4271;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px; 
  }
  div{
    width: 100%;
  }
  .title{
    color: #2d4271;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 15px 35px;
    display: flex;
    justify-content: flex-start;
  }
}
.form{
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .item{
    display: flex;
    gap: 16px;
    border:1px solid #ccc;
    border-radius: 17px;
    padding: 16px;
    align-items: center;
  }
  .date_go{
    width: 100px;
    height: 100%;
    background-color: #4d4aef;
    color: #fff;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:12px;
  }
  h5{
    font-size: 17px;
    color: #2d4271;
  }
  span{
    font-weight: 600;
    font-size: 17px;
    color: #e01600;
  }
}

