.content {
  display: flex;
  .right {
    flex: 1;
    background-color: #192132;
    padding: 20px;
    overflow: hidden;
  }
  .box,
  .table {
    width: 100%;
    background-color: #192132;
    padding: 4px;
    box-shadow: 0 3px 10px 0 rgb(48 46 56/6%);
  }
  img {
    width: 100px;
  }
}
.box {
  display: flex;
  flex-direction: column;
  h3 {
    padding: 16px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
  }
  .main {
    gap: 16px;
    width: 100%;
    padding: 0px 16px;
    .info {
      border-radius: 16px;
      background-color: #2d4271;
      display: flex;
      flex-direction: column;
      padding: 16px;
      gap: 16px;
      h5 {
        font-size: 14px;
        color: #fff;

      }
    }
    .others {
      border-radius: 16px;
      background-color: #2d4271;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      h4{
        color: #fff;
        
      }
      .item{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.action {
  padding: 20px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
  h1 {
    text-align: center;
  }
  .content {
    display: flex;
    gap: 5px;
    gap: 5px;
  }
}
