.wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bg1 {
  position: relative;
  background: #0063ec;
}
.foverlay {
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 53px;
  padding: 0px 60px;
  position: relative;
  z-index: 3;
}
.info {
  display: flex;
  align-items: center;
  height: 40px;
}
.link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  padding-right: 20px;
  position: relative;
  padding-left: 20px;
  text-decoration: none;
}

.web::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 1px;
  height: 30px;
  left: -1px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.149;
}

.bot-container {
  flex: 1;
  padding: 6px 60px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
}
.divineB::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 1px;
  left: -1px;
  display: block;
  top: 0;
  transform: translateY(-50%);
  opacity: 0.149;
}
.divineA::after {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 1px;
  left: -1px;
  display: block;
  bottom: 0;
  transform: translateY(-50%);
  opacity: 0.149;
}
.list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social {
  display: flex;
  align-items: center;
}
.a {
  font-size: 17.5px;
  text-decoration: none;
  margin: 10px;
}
.text {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 10px;
}
.title {
  padding: 35px;
  font-size: 17.5px;
}
.action {
  display: flex;
  position: relative;
}
.action::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 2px;
  height: 30px;
  left: -1px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.149;
}
.brand {
  color: #fff;
  font-weight: 700;
  font-size: 17.5px;
  margin: 0px 100px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}
.navbar_content {
  flex: 1;
  display: flex;
  justify-content: center;
}
.search {
  display: flex;
  align-items: center;
}
.search_content {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 17.5px;
  overflow: hidden;
  margin-left: 10px;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 400;
  font-family: "Montserrat", sans-serif;
}
.search_content:focus {
  border-bottom: 1px solid #fff;
}
